
  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 300px;
      margin: 0 auto;
  }
  
  form input[type="email"], form input[type="password"] {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: block; 
      margin-bottom: 10px; 
  }
  
  form button {
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: #6F87DE;
      color: white;
      cursor: pointer;
      width: 80%;
  }
  
  form button:hover {
      background-color: #45a049;
  }

    .account-text {
      display: flex;
      align-items: center;
      justify-content: center; 
      text-align: center; 
    }
    
    .register-button:hover {
      background-color: transparent;
      border: none;
    }
    
    .login-container {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      width: 50vh; 
      height: 70vh;
      margin: 0 auto; 
      padding: 10px;
      background-color: transparent; 
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      right: 25%;
      transform: translate(50%, -50%);
  }

  .register-button {
    border: none; 
    color: #2196f3;  
    cursor: pointer;  
    background-color: transparent;
    padding: 0px;
  }
  .register-button:active, 
  .register-button:focus {
      outline: none; 
  }
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 5px; 
  }
  .otsikko {
    position: absolute;
    top: 20px; 
    left: 10%;
    transform: translateX(-50%);
    font-family: 'Audiowide', sans-serif;
    font-size: 5px;
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
  }
  
  .otsikko2 {
    position: absolute;
    top: 265px; 
    left:22.2%;
    transform: translateX(-50%);
    font-size: 25px;
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo 2', sans-serif;
  }
  .otsikko3 {
    position: absolute;
    top: 365px; 
    left:22.2%;
    transform: translateX(-50%);
    font-size: 23px;
    color: #2196f3;  
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo 2', sans-serif;
  }
  .otsikko4 {
    position: absolute;
    top: 465px; 
    left:22.6%;
    transform: translateX(-50%);
    font-size: 17px;
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Baloo 2', sans-serif;
  }
  .kuva {
    position: absolute;
    top: 60px; 
    left:25%;
    transform: translateX(-50%);
    max-width: 60%;
    max-height: 60%;
  }
  .centered {
    text-align: center;
    font-size: 80px;
    font-family: 'Baloo 2', sans-serif;
  }
  .kuva4 {
    position: absolute;
    top: 10px; 
    left:29%;
    transform: translateX(-50%);
    max-width: 60%;
    max-height: 60%;
  }
  