.app-container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .content-area {
    flex-grow: 1; /* Takes up the remaining space */
    overflow-y: auto; /* Adds scroll to the main content area if needed */
    padding-top: 60px;
  }
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
}
.spacer {
    height: 20px;
}
.sidebar button {
    width: 150px;  /* adjust as needed */
    height: 60px;  /* adjust as needed */
    margin: 5px 10px 5px 10px;  /* adjust as needed */
}