.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    flex: 0 0 200px; /* This sets the sidebar's width to 200px and prevents it from growing or shrinking */

}
.spacer {
    height: 20px;
}
.sidebar button {
    width: 150px;  /* adjust as needed */
    height: 60px;  /* adjust as needed */
    margin: 5px 10px 5px 10px;  /* adjust as needed */
}